.papyrus
bin/.papyrus
bin/*.exe
bin/*.exp
bin/*.lib
bin/*.pdb
bin/*.ilk
bin/*.rar
test-files/compiled
test-files/compiler
test-files/*.*
*.bat
vls.log
fast.log
table.html
papyrus_fast.exe
papyrus_fast.c