name: CI

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, edited, reopened]

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install V
        uses: vlang/setup-v@v1
        with:
          version: weekly.2024.36

      - name: Checkout ${{ github.event.repository.name }}
        uses: actions/checkout@v2

      - name: Build ${{ github.event.repository.name }}
        run: v -prod -gc none compiler.v
        
      - name: Run Tests
        run: v -stats test modules
